@font-face {
  font-family: "Dirooz";
  src: url("../CodeUse-Site/resources/fonts/Dirooz.eot") format("eot");
  src: url("../CodeUse-Site/resources/fonts/Dirooz.ttf") format("ttf");
  src: url("../CodeUse-Site/resources/fonts/Dirooz.woff") format("woff");
  src: url("../CodeUse-Site/resources/fonts/Dirooz.woff2") format("woff2");
}

/* Css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .item-navbar {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .itemnav {
    font-family: Dirooz;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    transition: all 0.25s ease-in-out;
    padding: 0.25rem;
    margin: 0 3rem;
  }

  .item-navbar img {
    margin: 0 0 0 5rem;
  }

  .itemnav:hover {
    color: #0800ff;
  }

  .navbar {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 85%;
    margin: 1rem auto;
    border-radius: 5rem;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 100;
  }

  .logo {
    width: 12rem;
    margin: 0.5rem;
  }

  .header {
    position: relative;
    height: 50vw;
  }

  .header::before {
    content: "";
    background-image: url(../images/baseImg/mainImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
    z-index: -1;
  }

  .header title,
  .box-name,
  .text,
  .best {
    opacity: 100%;
    filter: none;
    opacity: 100%;
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    font-family: Dirooz;
    padding: 1.5rem 0;
    text-shadow: 3px 3px 5px #8ca8be;
  }

  .text {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: Dirooz;
    padding: 1rem;
    font-weight: bolder;
    color: black;
    animation: move ease 3s infinite;
  }

  .box-name {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    border-radius: 1rem;
    background-color: #90c8d4;
  }

  @keyframes move {
    25% {
      border-radius: 1rem;
      box-shadow: 2px 5px 20px #00a20b;
    }

    50% {
      box-shadow: 2px 5px 20px #315098;
      border-radius: 1rem;
    }

    75% {
      border-radius: 1rem;
      box-shadow: 2px 5px 20px #ff99bb;
    }

    100% {
      border-radius: 1rem;
      box-shadow: 2px 5px 20px #a5ffab;
    }
  }

  .best {
    display: flex;
    justify-content: center;
    font-family: Dirooz;
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 2rem 0;
  }

  .slider-container {
    margin: 0 auto;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    overflow: hidden;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    white-space: nowrap;
  }

  .slide {
    font-family: Dirooz;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    flex: 0 0 auto;
    padding: 1rem 1.5rem;
    margin: 0.2rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 2px 2px 10px #989898;
    transition: all 0.2s ease-in-out;
  }

  .slide:hover {
    color: #315098;
  }

  .nav-btn {
    border-radius: 45%;
    box-shadow: 2px 2px 20px #8ca8be;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: none;
    background: #8ca8beaa;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .home-box {
    width: 28%;
    margin: 2rem 1.5rem;
    padding: 1.5rem;
    background: #ffffffaa;
    box-shadow: 2px 2px 20px #8ca8be;
    border-radius: 1.5rem;
    border: none;
  }

  .home-box h6 {
    color: #315098;
    font-family: Dirooz;
    font-size: 1.75rem;
    text-align: center;
  }
  .home-box p {
    color: #000;
    font-family: Dirooz;
    font-size: 1.2rem;
    margin: 1rem auto;
    text-align: center;
  }

  .icon-header {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 0.5rem auto 1.5rem auto;
    color: #315098;
  }
}
